.Login {
    max-width: 30em;
    margin: 32px auto;
}

.Login h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 176px;
    margin: 32px auto;
}

.Login img {
    display: block;
    width: 295px;
    margin: 0 auto;
}

.Login form {
    display: flex;
    flex-direction: column;
}

.Login i.prefix, .Login .prefix.active {
 color: #ee4c77;
}

.Login input {
    margin-bottom: 16px;
}

.Login .btn {
    background: #57bbbc;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
}